[Unit]
Description=Run dispatcher
[Service]
Type=simple
WorkingDirectory=/home/overpass
User=jenkins
Group=jenkins
ExecStart=/home/overpass/start_dispatcher_service.sh start
ExecStop=/home/overpass/osm3s/bin/dispatcher --terminate stop
[Install]
WantedBy=multi-user.target
