{
 "device_name": "Server sync download.osmand.net",
  "listening_port" : 3333,                       // 0 - randomize port
  "storage_path" : "/var/www-download/sync/.sync",
  "check_for_updates" : false, 
  "use_upnp" : true,                              // use UPnP for port mapping

  "download_limit" : 0,                       
  "upload_limit" : 12500, //kb/s

  "shared_folders" : [

{ "dir": "/var/www-download/sync/publish/Brazil_southamerica_2", "secret" : "RI4WZKT7XLZFLV6OBYJRSIVJTZD2B4NKY", "use_relay_server" : true, "use_tracker" : true,  "use_dht" : true, "search_lan" : true},
] 
}
